{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>Resultados da Busca</h2>
                <h4>Foram encontrados {{ resultados }} resultados em sua busca:</h4>
                <ol>
                    {% for item in busca %}
                        <li>
                            <a href="/produtos/{{ item.id }}">{{ item.nome }}</a><br/>
                            {{ item.descricao }}
                        </li><br/>
                    {% endfor %}
                </ol>
                <p>
                    Paginas:
                    {% for i in 1..pages %}
                        <a href="/produtos/search/?keyword=passeio&page={{ i }}">{{ i }}</a>
                    {% endfor %}
                </p>

                <p>
                    <a class="btn btn-info voltar" href="{{ app.request.headers.get('referer') }}" />Voltar</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}